
    <main class="main-content">
        <div class="terms-container">
            <div class="terms-header">
                <h1>Politicas de Privacidad</h1>
            </div>
            <div class="terms-content">
                <!-- Content of terms and conditions -->
                <section class="terms-section">
                    <p><b>Que Tipo De Información Recopilan:</b>
                        Número de matrícula de los vehículos.
                        Hora de entrada y salida de los vehículos.
                        Tiempo de permanencia de los vehículos en el estacionamiento.
                        Tipo de vehículo (automóvil, motocicleta, etc.).
                        Información del propietario del vehículo (en algunos casos).
                        Pagos realizados por el estacionamiento.
                        Datos de seguridad, como cámaras de vigilancia y registros de accesos.
                        Estos datos ayudan a gestionar de manera eficiente el estacionamiento y brindar un mejor
                        servicio a los clientes.</p>
                        <p>&nbsp;</p>

                    <p>
                    <h2>Como Utilizan La Información Recopilada: </h2>
                    
                    <p>&nbsp;</p>
                    <p><b>se utiliza de diversas formas, entre las cuales se incluyen:</b> Gestión del estacionamiento:
                        La información sobre la ocupación y la rotación de vehículos se utiliza para administrar
                        eficientemente los espacios disponibles, evitando la congestión y mejorando la experiencia de
                        los usuarios.</p>

                    <p><b>Facturación y cobro:</b> Los datos de entrada y salida de vehículos se utilizan para calcular
                        el
                        tiempo de estacionamiento y generar facturas. Algunos parqueaderos implementan sistemas
                        automatizados de cobro basados en esta información.</p>

                    <p><b>Seguridad:</b> La información recopilada, como las cámaras de vigilancia y los registros de
                        accesos, se utiliza para mantener la seguridad en el parqueadero y en sus alrededores, y para
                        tener
                        un registro de quiénes ingresan y salen del lugar.</p>
                    <p><b>Análisis de datos:</b> Los parqueaderos pueden analizar la información recopilada para
                        comprender
                        los patrones de uso, las horas pico de ocupación, las tendencias de tráfico y otros datos
                        relevantes
                        que les permitan mejorar sus operaciones y servicios.</p>
                    <p><b>En resumen</b>, la información recopilada por los parqueaderos se utiliza para optimizar la
                        gestión del espacio, garantizar la seguridad, facturar el servicio y mejorar la experiencia de
                        los
                        usuarios.</p>
                    <p>&nbsp;</p>


                    <p>
                    <h2>Como Puedo Contactar Si Tengo Una Pregunta:</h2>
                    
                    <p>&nbsp;</p>
                    <p><b>puedes utilizar los siguientes métodos de contacto comunes:</b></p>
                    <p><b>Número de teléfono:</b> Busca el número de teléfono del parqueadero en su página web, en
                        directorios locales o en la señalización del lugar. Llamar por teléfono es una forma rápida de
                        obtener respuestas a tus preguntas.</p>
                    <p><b>Correo electrónico:</b> Muchos parqueaderos tienen una dirección de correo electrónico a la
                        que puedes enviar tus consultas. Puedes encontrar esta información en su página web o en sus
                        perfiles en redes sociales.</p>
                    <p><b>Formulario de contacto en línea:</b> Algunos parqueaderos tienen un formulario de contacto en
                        su sitio web que puedes completar con tus preguntas y datos de contacto. Generalmente, te
                        responderán por correo electrónico o teléfono.</p>
                    <p><b>Redes sociales:</b> Puedes intentar contactar al parqueadero a través de sus perfiles en
                        redes sociales como Facebook, Twitter o Instagram. Muchas empresas responden a las consultas de
                        los clientes por ese medio.</p>

                    <p>&nbsp;</p>
                    <p><b>Recuerda ser claro y conciso con tu pregunta para obtener la información que necesitas de
                            manera rápida y efectiva.</b></p>
                    <p>&nbsp;</p>


                    <p>
                    <h2>Que Derechos Tengo Sobre Mi Información:</h2>
                    
                    <p>&nbsp;</p>
                    <p><b>Derecho a la información:</b> Tienes derecho a saber qué tipo de información se está recopilando sobre ti, cómo se está utilizando y con quién se comparte.</p>
                    <p><b>Derecho de acceso:</b> Puedes solicitar acceder a la información personal que una organización tiene sobre ti.</p>
                    <p><b>Derecho de rectificación:</b> Si la información personal que tiene una organización sobre ti es incorrecta o incompleta, tienes derecho a que se corrija.</p>
                    <p><b>Derecho de supresión:</b> En algunos casos, puedes solicitar que se elimine tu información personal de la base de datos de una organización.</p>
                    <p><b>Derecho a la portabilidad de datos:</b> En ciertas circunstancias, puedes solicitar que tu información personal sea transferida a ti o a otra organización en un formato legible por máquina.</p>
                    <p><b>Derecho a la limitación del tratamiento:</b> Puedes solicitar que se limite el uso de tu información personal en ciertas circunstancias.</p>

                    <p>&nbsp;</p>
                    <p><b>Es importante revisar las leyes locales de protección de datos para entender completamente tus derechos y conocer cómo ejercerlos en caso de ser necesario. Recuerda que la protección de datos es un tema importante en la era digital y es fundamental comprender tus derechos sobre tu información personal.</b></p>
                    <p>&nbsp;</p>

                    <p><b>Correo electrónico:</b> Muchos parqueaderos tienen una dirección de correo electrónico a la que puedes enviar tus consultas. Puedes encontrar esta información en su página web o en sus perfiles en redes sociales.</p>
                    <p><b>Formulario de contacto en línea:</b> Algunos parqueaderos tienen un formulario de contacto en su sitio web que puedes completar con tus preguntas y datos de contacto. Generalmente, te responderán por correo electrónico o teléfono.</p>
                    <p><b>Redes sociales:</b> Puedes intentar contactar al parqueadero a través de sus perfiles en redes sociales como Facebook, Twitter o Instagram. Muchas empresas responden a las consultas de los clientes por ese medio.</p>

                    <p>&nbsp;</p>
                    <p><b>Recuerda ser claro y conciso con tu pregunta para obtener la información que necesitas de manera rápida y efectiva.</b></p>
                    <p>&nbsp;</p>
                    
                    <p><b>Derecho a la información:</b> Tienes derecho a saber qué tipo de información se está recopilando sobre ti, cómo se está utilizando y con quién se comparte.</p>
                    <p><b>Derecho de acceso:</b> Puedes solicitar acceder a la información personal que una organización tiene sobre ti.</p>
                    <p><b>Derecho de rectificación:</b> Si la información personal que tiene una organización sobre ti es incorrecta o incompleta, tienes derecho a que se corrija.</p>
                    <p><b>Derecho de supresión:</b> En algunos casos, puedes solicitar que se elimine tu información personal de la base de datos de una organización.</p>
                    <p><b>Derecho a la portabilidad de datos:</b> En ciertas circunstancias, puedes solicitar que tu información personal sea transferida a ti o a otra organización en un formato legible por máquina.</p>
                    <p><b>Derecho a la limitación del tratamiento:</b> Puedes solicitar que se limite el uso de tu información personal en ciertas circunstancias.</p>

                    <p>&nbsp;</p>
                    <p><b>Es importante revisar las leyes locales de protección de datos para entender completamente tus derechos y conocer cómo ejercerlos en caso de ser necesario. Recuerda que la protección de datos es un tema importante en la era digital y es fundamental comprender tus derechos sobre tu información personal.</b></p>
                    <p>&nbsp;</p>

                    <p><b>Ley 769 de 2002:</b> Código Nacional de Tránsito Terrestre, donde se establecen las normas de tránsito y circulación de vehículos en Colombia, incluyendo disposiciones sobre la operación de parqueaderos.</p>
                    <p><b>Decreto 1079 de 2015:</b> Reglamenta el Código Nacional de Tránsito Terrestre en cuanto a las políticas, regulaciones y sanciones relacionadas con el tránsito de vehículos en Colombia.</p>
                    <p><b>Decreto 1275 de 2011:</b> Regula la construcción, operación y mantenimiento de parqueaderos públicos en Colombia, estableciendo requisitos de seguridad, operación y control de estos establecimientos.</p>

                    <p>&nbsp;</p>
                    <p><b>Además de estas leyes y decretos, existen normativas locales y municipales que pueden aplicarse a los parqueaderos en distintas ciudades y regiones de Colombia.</b></p>
                    <!-- Rest of the terms content -->
                </section>
                <!-- Additional sections... -->
            </div>
        </div>
        <div class="logos-container">
            <img src="casanare.jpg" alt="Logo System Parking Yopal" class="aprov" />
            <img src="transito.jpg" alt="Logo de Transito" class="aprov" />
            <img src="policia.jpg" alt="Logo de la Policia" class="aprov" />
        </div>
    </main>
