<div class="welcome-container">
  <mat-card class="welcome-title-container">
    <mat-card-title class="welcome-title">Bienvenidos</mat-card-title>
  </mat-card>

  <mat-card class="welcome-section">
    <mat-card-content class="welcome-text"> <!-- Texto de bienvenida con información sobre el parqueadero -->
      <p>Nos alegra tenerte con nosotros en Parqueadero SPY. Aquí, nos tomamos muy en serio la seguridad de tu
        vehículo. Con sistemas de vigilancia avanzada y un personal atento, puedes estar seguro de que tu
        auto estará bien cuidado. Disfruta de tu día, nosotros nos encargamos del resto.</p>
      <mat-card-content class="contact-box">
        <button mat-raised-button color="primary" (click)="goToLogin()" class="web-button">Iniciar Sesion</button>
        <!-- Botón para acceder a la página web -->
        <button mat-raised-button color="primary" (click)="goToRegister()" class="web-button">Registrarse</button>
        <!-- Botón para acceder a la página web -->
      </mat-card-content>
      <span class="social-media">
        <h2 class="social-media">Síguenos</h2>
        <div class="social-icons">
          <i class="fab fa-facebook fa-2x"></i>
          <i class="fab fa-twitter fa-2x"></i>
          <i class="fab fa-instagram fa-2x"></i>
          <i class="fab fa-linkedin fa-2x"></i>
          <i class="fab fa-github fa-2x"></i>
        </div>
        <p>&#64;SystemParkingYopal</p>
      </span>
    </mat-card-content>

    <mat-card-content class="image-gallery">
      <img src="parking1.jpg" alt="Instalaciones del parqueadero">
      <!-- Imagen de las instalaciones del parqueadero -->
      <img src="parking2.jpg" alt="Área de estacionamiento"> <!-- Imagen del área de estacionamiento -->
    </mat-card-content>
  </mat-card>
</div>