body {
  font-family: Arial, sans-serif;
  background-image: url('fondo.jpg');
  background-size: cover;
  background-position: center;
}

.payment-method {
  width: 60px;
  height: 50px;
  margin: 5 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.paypal { background-color: #0070e0 ; }
.western-union { background-color: #ffdd00; }
.visa { background-color: #1434cb; }
.mastercard { background-color: #eb001b; }
.discover { background-color: #FF9F00; }
