<div class="parking-registration-container">
  <mat-card class="register-card">
    <mat-card class="register-form">
      <h1 class="title">Editar parqueadero</h1>
      <span class="text">Modifica los datos que necesites actualizar</span>
      <mat-card-content>
        <form class="register-form" [formGroup]="registerForm">
          <div class="form-group">
            <!-- Datos básicos -->
            <div class="form-row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="parkingName" placeholder="Parqueadero El Sena">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="number" placeholder="3111234567">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Latitud</mat-label>
                <input matInput formControlName="latitude" placeholder="5.123456">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Longitud</mat-label>
                <input matInput formControlName="length" placeholder="-72.123456">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="correo@ejemplo.com">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="address" placeholder="Cra. 19 #36-92 Yopal, Casanare">
              </mat-form-field>
            </div>

            <!-- Imagen -->
            <div class="form-group text-image">
              <label class="custom-file-upload">
                <input type="file" accept="image/*" (change)="onFileSelected($event)" />
                Cambiar Imagen
              </label>
              <div class="file-name">
                {{ selectedFile?.name || 'Sin archivo seleccionado' }}
              </div>
              <img *ngIf="previewUrl" [src]="previewUrl" alt="Vista previa" class="preview-img" />
            </div>
          </div>

          <!-- Cupos -->
          <h1 class="title">Cupos</h1>
          <div class="form-row">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Carros</mat-label>
              <input matInput formControlName="cars" placeholder="10">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Motos</mat-label>
              <input matInput formControlName="motorcycles" placeholder="10">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Bicis</mat-label>
              <input matInput formControlName="bicycles" placeholder="10">
            </mat-form-field>
          </div>

          <!-- Características -->
          <h1 class="title">Características</h1>
          <div class="form-row">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Largo</mat-label>
              <input matInput formControlName="long" placeholder="10">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Ancho</mat-label>
              <input matInput formControlName="broad" placeholder="5">
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Altura</mat-label>
              <input matInput formControlName="height" placeholder="2.5">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="type">
                <mat-option value="Subterráneo">Subterráneo</mat-option>
                <mat-option value="Aire Libre">Aire Libre</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Pisos</mat-label>
              <input matInput formControlName="floor" placeholder="3">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Sombra</mat-label>
              <mat-select formControlName="shade">
                <mat-option value="Si">Sí</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="description" placeholder="Ofrecemos seguridad y comodidad.">
            </mat-form-field>
          </div>

          <!-- Botón actualizar -->
          <button mat-raised-button color="primary" class="submit-btn" (click)="update()">
            Actualizar parqueadero
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
