<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Parqueadero</title>
    <link rel="stylesheet" href="Historial.css">
</head>
<body>
    <div class="logo">
        <img src="C:\Users\mairo\OneDrive\Documents\proyecto del sena\Sin título.jpeg" alt="SPY Logo" height="100" width="100">
    </div>
    <div class="container">
        <div class="table-container">
            <h1>Historial de Parqueadero</h1>
            <table id="parkingTable">
                <thead>
                    <tr>
                        <th>Fecha y Hora de Entrada</th>
                        <th>Fecha y Hora de Salida</th>
                        <th>Número de Placa</th>
                        <th>Celda</th>
                        <th>Vehículo</th>
                        <th>Depósito Abono</th>
                        <th>Tarifa Cuadrada</th>
                        <th>Tipo de Usuario</th>
                        <th>Observaciones</th>
                        <th>Total Estadia</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <!-- Registros dinámicos -->
                </tbody>
            </table>
        </div>
        <button class="edit-button" onclick="addRow()">Añadir Registro</button>
        <div class="action-buttons" id="actionButtons" style="display: none;">
            <button onclick="editTable()">Editar Tabla</button>
            <button onclick="deleteRow()">Borrar Registro</button>
            <button onclick="saveTable()">Guardar</button>
            <button onclick="cancelEdit()">Cancelar</button>
        </div>
        <div class="container">
            <div class="table-container">
                <p>Total de Estadia: <span id="totalEstadia">$0.00</span></p>
            <p>Total del Día: <span id="dailyTotal">$0.00</span></p>
            <p>Total del Semana: <span id="weeklyTotal">$0.00</span></p>
            <p>Total del Mes: <span id="monthlyTotal">$0.00</span></p>
            <p>Total del Año: <span id="yearlyTotal">$0.00</span></p>
        </div>
    </div>
    <div id="successMessage" style="display: none; color: green; text-align: center;">Guardado exitosamente</div>
    <script src="Historial.js"></script>
</body>
</html>
