<div class="buy-container">
  <mat-card class="main-content">
    <mat-card-title class="title">
      <h1>Membresías</h1>
    </mat-card-title>
    <mat-card class="buy-membership-content">
      <mat-card class="membresia">
        <mat-card-title class="sub-title">
          <h2>SPY BÁSICO</h2>
          <h3>GRATIS</h3>
        </mat-card-title>
        <mat-card-content class="informacion">
          <p>Registro de vehiculos (Bicicleta, Moto, Carro).</p>
          <p>Parqueaderos publicos.</p>
          <p>Parqueaderos privados.</p>
          <p>Parqueaderos de centros comerciales.</p>
          <p>Asistencia en rutas</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="membresia">
        <mat-card-title class="sub-title">
          <h2>SPY PREMIUM</h2>
          <h3>$2.700/MES</h3>
        </mat-card-title>
        <mat-card-content class="informacion">
          <p>Registro de vehiculos (Bicicleta, Moto, Carro).</p>
          <p>Parqueaderos publicos.</p>
          <p>Parqueaderos privados.</p>
          <p>Parqueaderos de centros comerciales.</p>
          <p>Asistencia en rutas</p>
          <p>Ofertas exclusivas</p>
          <p>Reservas de estacionamientos</p>
          <p>10% de descuento al mes</p>

          <!-- Contenedor para el botón de PayPal -->
          <div id="paypal-button-container"></div>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </mat-card>
</div>
