:root {
  /* Variables de color y fuentes */
  --primary-color: #2E3036;
  /* Color principal (fondo de la cabecera y pie de página) */
  --text-light: white;
  /* Color claro para textos (blanco) */
  --text-dark: black;
  /* Color oscuro para textos (negro) */
  --font-lustria: 'Lustria', serif;
  /* Fuente Lustria para títulos */
  --font-work-sans: 'Work Sans', sans-serif;
  /* Fuente Work Sans para cuerpo de texto */
  --font-marko: 'Marko One', serif;
  /* Fuente Marko One para títulos específicos */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Asegura que el padding y borde no aumenten el tamaño total del elemento */
}

.terms-and-conditions-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-work-sans);
  background-image: url('/fondo-general.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 1.6;
}

/* Estilos del contenido principal */
.main-content {
  background: rgba(239, 246, 255, 0.85);
  /*Fondoconopacidad*/
  border-radius: 15px;
  /*Bordesredondeados*/
  flex: 1;
  margin: 80px;
  padding: 0 2rem;

}

.terms-content {
  background: rgba(217, 217, 217, 0.68);
  border-radius: 15px;
  /*Bordesredondeados*/
  margin-bottom: 40px;
  padding: 2rem;
}

/* Estilos del encabezado */
.title {
  margin: 40px;
  font-family: 'Marko One', serif;
  text-align: center;
}

h2 {
  font-family: 'Marko One', serif;
  text-align: center;
}

.terms-container {
  max-width: 1277px;
  margin: 0 auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.78);
}

.terms-content {
  background: rgba(217, 217, 217, 0.68);
  padding: 2rem;
}
