<div class="login-session">
  <mat-card class="login-container">
    <mat-card class="login-form">
      <h1 class="title">Iniciar Sesion</h1>
      <p class="subtitle">Ingrese sus credenciales para continuar</p>

      <div class="user-type">
        <button type="button" class="user-btn active">Usuario</button>
        <button type="button" class="admin-btn">Administrador</button>
      </div>

      <!-- Campo de Usuario -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario, email o número telefónico">
      </mat-form-field>

      <!-- Campo de Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Ingrese su contraseña">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <!-- Botón de Ingreso -->
      <button mat-raised-button color="primary" class="submit-btn" (click)="login()">Iniciar Sesión</button>

      <div class="form-options">
        <label class="remember-me">
          <input type="checkbox">
          <span>Recuérdame</span>
        </label>
        <a href="/help" class="help-link">¿Necesitas ayuda?</a>
      </div>

      <!-- Enlaces para recuperar contraseña y crear cuenta -->
      <div class="actions">
        <button class="recover-password" mat-button color="accent" (click)="recoverPassword()">¿Olvidaste tu contraseña?</button>
        <button class="create-account" mat-button color="warn" (click)="goToRegister()">Crear cuenta nueva</button>
      </div>
    </mat-card>
  </mat-card>
</div>
