<div class="user-profile-container">
  <mat-card class="main-content">
    <!-- Información de Usuario -->
    <div class="form-row">
      <div class="form-group">
        <div mat-card-avatar class="profile-image">
          <img *ngIf="usuario?.Imagen" [src]="getBase64ImageSrc(usuario.Imagen)" alt="Imagen de perfil"
            class="profile-image" />
        </div>
        <mat-card-title class="title-name">{{ usuario?.Nombres }} {{ usuario?.Apellidos }}</mat-card-title>
        <div class="form-group">
          <mat-card-subtitle><strong>Rol:</strong> {{ usuario?.IdRolesFk?.Roles }}</mat-card-subtitle>
          <p><strong>Email:</strong> {{ usuario?.Email }}</p>
          <p><strong>Teléfono:</strong> {{ usuario?.Telefono }}</p>
        </div>
        <!-- Botones -->
        <div class="form-group">
          <div class="btn-group">
            <button mat-raised-button color="primary" class="submit-btn" (click)="mostrarVista('editar')">Editar
              Perfil</button>
            <button mat-raised-button color="primary" class="submit-btn" (click)="mostrarVista('vehiculos')">Registro
              de vehículos</button>
            <button *ngIf="usuario?.IdRolesFk?.Id !== 2" mat-raised-button color="primary" class="submit-btn"
              (click)="mostrarVista('parqueaderos')">Registro de
              parqueaderos</button>
          </div>
        </div>
      </div>

      <div class="card-row">
        <!-- Vehículos del Usuario -->
        <mat-card *ngIf="usuario?.IdRolesFk?.Id !== 2" class="card-content">
          <mat-card-title class="title">Mis Vehículos</mat-card-title>
          <ng-container *ngIf="vehiculos.length > 0; else sinVehiculos">
            <div class="scrollable-box">
              <div class="vehicle-grid">
                <mat-card class="vehicle-information" *ngFor="let v of vehiculos">
                  <div class="vehicle-text">
                    <h1>{{v.Tipo}}</h1>
                    Marca: {{ v.Marca }}<br>
                    Modelo: {{ v.Modelo || '' }}<br>
                    Placa: {{ v.Placa || 'N/A' }}
                  </div>
                  <div>
                    <img [src]="v.Imagen ? getBase64ImageSrc(v.Imagen) : '/assets/default-vehicle.jpg'"
                      [alt]="v.Marca || 'Vehículo'" class="vehicle-image">
                    <div class="button-actions">
                      <button mat-icon-button color="primary" (click)="editarVehiculo(v)">
                        <mat-icon class="button-edit">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="eliminarVehiculo(v)">
                        <mat-icon class="button-delete">delete</mat-icon> <!-- caneca de basura -->
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </ng-container>

          <ng-template #sinVehiculos>
            <p style="margin: 1rem; color: gray;">No tienes vehículos registrados.</p>
          </ng-template>
        </mat-card>

        <!-- Parqueaderos del Usuario -->
        <mat-card *ngIf="usuario?.IdRolesFk?.Id !== 2 && usuario?.IdRolesFk?.Id !== 1" class="card-content">
          <mat-card-title class="title">Mis Parqueaderos</mat-card-title>
          <ng-container *ngIf="parqueaderos.length > 0; else sinParqueaderos">
            <div class="scrollable-box">
              <div class="vehicle-grid">
                <mat-card class="vehicle-information" *ngFor="let p of parqueaderos">
                  <div class="vehicle-text">
                    <h4>{{ p.Nombres }}</h4>
                    {{ p.Direccion }} <br>
                    {{p.Email}} <br>
                    Capacidad: {{ p.Carros + p.Motos + p. Bicicletas }} <br>
                    {{p.Descripcion}}
                  </div>
                  <div>
                    <img [src]="p.Imagen ? getBase64ImageSrc(p.Imagen) : '/assets/default-parking.jpg'"
                      [alt]="p.Nombres" class="vehicle-image" />
                    <div class="button-actions">
                      <button mat-icon-button color="primary" (click)="editarParqueadero(p)">
                        <mat-icon class="button-edit">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="eliminarParqueadero(p)">
                        <mat-icon class="button-delete">delete</mat-icon> <!-- caneca de basura -->
                      </button>
                    </div>
                    <button mat-raised-button color="accent" class="submit-btn" (click)="parqueaderoSeleccionado(p)">
                      Ver Perfil
                    </button>

                  </div>
                </mat-card>
              </div>
            </div>
          </ng-container>

          <ng-template #sinParqueaderos>
            <p style="margin: 1rem; color: gray;">No tienes parqueaderos registrados.</p>
          </ng-template>
        </mat-card>

        <!-- Parqueadero donde trabaja el usuario -->
        <mat-card *ngIf="usuario?.IdRolesFk?.Id === 2 && parqueaderoEmpleado" class="card-content">
          <mat-card-title class="title">Parqueadero donde trabajo</mat-card-title>
          <div class="vehicle-grid">
            <mat-card class="vehicle-information">
              <div class="vehicle-text">
                <h4>{{ parqueaderoEmpleado.Nombres }}</h4>
                {{ parqueaderoEmpleado.Direccion }} <br>
                {{ parqueaderoEmpleado.Email }} <br>
                Capacidad: {{ parqueaderoEmpleado.Carros + parqueaderoEmpleado.Motos + parqueaderoEmpleado.Bicicletas }}
                <br>
                {{ parqueaderoEmpleado.Descripcion }}
              </div>
              <div>
                <img
                  [src]="parqueaderoEmpleado.Imagen ? getBase64ImageSrc(parqueaderoEmpleado.Imagen) : '/assets/default-parking.jpg'"
                  [alt]="parqueaderoEmpleado.Nombres" class="vehicle-image" />
                <div class="button-actions">
                  <button mat-raised-button color="accent" class="submit-btn"
                    (click)="parqueaderoSeleccionado(parqueaderoEmpleado)">
                    Ver Perfil
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        </mat-card>

      </div>
    </div>
  </mat-card>
  <!-- Vista Dinámica como Overlay -->
  <div class="overlay" *ngIf="vistaSeleccionada">
    <div class="overlay-content">
      <button mat-icon-button class="close-btn" (click)="cerrarVista()">✖</button>
      <ng-container [ngSwitch]="vistaSeleccionada">
        <app-edit-profile *ngSwitchCase="'editar'"
          (refreshUsuario)="actualizarUsuarioDesdeLocalStorage(); cerrarVista()">
        </app-edit-profile>
        <app-parking-profile *ngSwitchCase="'profileparqueadero'" [parqueadero]="profileparqueadero"
          (cerrar)="cerrarVista()">
        </app-parking-profile>
        <app-vehicle-registration *ngSwitchCase="'vehiculos'" (click)="vehiculos"
          (refreshVehiculos)="obtenerVehiculosDelUsuario(usuario.Id); cerrarVista()">
        </app-vehicle-registration>
        <app-edit-vehicle *ngSwitchCase="'editvehiculo'" [vehiculo]="editvehiculo"
          (refreshVehiculos)="obtenerVehiculosDelUsuario(usuario.Id); cerrarVista()">
        </app-edit-vehicle>
        <app-parking-registration *ngSwitchCase="'parqueaderos'" (click)="parqueaderos"
          (refreshParqueaderos)="obtenerParqueaderosDelUsuario(usuario.Id); cerrarVista()">
        </app-parking-registration>
        <app-edit-parking-profile *ngSwitchCase="'editparqueadero'" [parqueadero]="editparqueadero"
          (refreshParqueaderos)="obtenerParqueaderosDelUsuario(usuario.Id); cerrarVista()">
        </app-edit-parking-profile>
      </ng-container>
    </div>
  </div>
</div>
