/* CSS General */
:root {
  /* Variables de color y fuentes */
  --primary-color: #2E3036; /* Color principal (fondo de la cabecera y pie de página) */
  --text-light: white; /* Color claro para textos (blanco) */
  --text-dark: black; /* Color oscuro para textos (negro) */
  --font-lustria: 'Lustria', serif; /* Fuente Lustria para títulos */
  --font-work-sans: 'Work Sans', sans-serif; /* Fuente Work Sans para cuerpo de texto */
  --font-marko: 'Marko One', serif; /* Fuente Marko One para títulos específicos */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding y borde no aumenten el tamaño total del elemento */
}

.user-profile-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-work-sans);
  background-image: url('/parking1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 1.6;
}

.main-content {
  flex: 1;
  margin-top: 140px; /* Espacio superior para evitar que el contenido se superponga al encabezado fijo */
  margin-bottom: 30px;
  padding: 0 2rem;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px;
}

/* Estilos del titulo */
.title {
  font-size: 24px;
  font-weight: 700;
  color: #242424;
  padding: 20px;
}

/* Estilos de los items */
.item {
  color: #eab308;
  margin-left: 20px;
}

.item:hover {
  color: #fbbf24;
  text-decoration: underline;
  text-decoration-color: #000000;
}

.name-item{
  color: #000000;
  margin-left: 10px;
  margin-right: 10px;
}

.social-buttons div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.social-buttons .facebook {
  background: #1877F2;
}

.social-buttons .twitter {
  background: linear-gradient(180deg, #2AABEE 0%, #229ED9 100%);
}

.social-buttons .whatsapp {
  background: linear-gradient(0deg, #1FAF38 0%, #60D669 100%);
}

/* Estilos para las tarjetas */
.card {
  background: rgba(255, 255, 255, 0.90);
  border-radius: 12px;
  margin-bottom: 15px;
}

.card-content {
  font-size: 20px;
  color: #242424;
  padding: 10px;
}

.rating {
  display: flex;
  gap: 5px;
}

.rating div {
  width: 25px;
  height: 25px;
  border-radius: 9999px;
}

.star-filled {
  background: #FFD52F;
}

.star-empty {
  background: #666666;
}

.button {
  width: 263px;
  height: 75px;
  background: rgba(255, 255, 255, 0.80);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}