body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('file:///C:/Users/mairo/OneDrive/Documents/proyecto%20del%20sena/a-well-lit-underground-parking-garage-filled-with--MUuc1yCVTCmphbwwOCUAYA--89RxuSuRH2MqZG-diyOOA.jpeg');
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.header nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.content {
  padding: 20px;
}

.form-observations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-container,
.sidebar {
  flex: 1 1 calc(50% - 10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 5px;
  background: #f9f9f9;
}

.table-container {
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

textarea {
  width: 100%;
}

.print-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.footer .social-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .form-container,
  .sidebar {
      flex: 1 1 100%;
  }
}
