<div class="main-header">
  <mat-card class="nav-container">
    <img src="/public/logo.png" alt="Logo System Parking Yopal" class="logo"> <!-- Logo del parqueadero con un texto alternativo -->
    <mat-card-content class="nav-links"> <!-- Enlaces de navegación en la cabecera -->
      <a href="/login">Inicia sesión</a> <!-- Enlace para iniciar sesión -->
      <a href="/register">Regístrate</a> <!-- Enlace para registrarse -->
      <a href="/comments">Comentarios</a> <!-- Enlace a la sección de comentarios -->
  </mat-card-content>
  </mat-card>
</div>
