<!DOCTYPE html>
<html lang="es">
    <!-- Define el tipo de documento como HTML5 y establece el idioma de la página en español -->

    <head>
        <meta charset="UTF-8">
        <!-- Define la codificación de caracteres en UTF-8 para soporte de caracteres especiales -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Ajusta la escala y tamaño de la página para dispositivos móviles -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Asegura la compatibilidad con el último modo de renderizado de IE -->
        <title>Orfertas de parqueaderos</title>
        <link rel="stylesheet" href="parking-offers.component.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Lustria&family=Work+Sans:wght@400;700&family=Marko+One&display=swap"
            rel="stylesheet"> <!-- Importa fuentes de Google Fonts -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <!-- Importa los íconos de Font Awesome para redes sociales -->
    </head>

    <body>
        <header class="main-header">
            <!-- Contenedor de navegación -->
            <nav class="nav-container">
                <img src="logo.jpg" alt="Logo System Parking Yopal" class="logo">
                <!-- Logo del parqueadero con un texto alternativo -->
                <div class="nav-links"> <!-- Enlaces de navegación en la cabecera -->
                    <a href="/login">Inicia sesión</a> <!-- Enlace para iniciar sesión -->
                    <a href="/register">Regístrate</a> <!-- Enlace para registrarse -->
                    <a href="/comments">Comentarios</a> <!-- Enlace a la sección de comentarios -->
                </div>
            </nav>
        </header>

        <!-- Contenido principal -->
        <main class="main-content">
            <div class="container">
                <h1>
                    OFERTAS ESPECIALES
                </h1>
                <p>
                    Este mes, aprovecha nuestras ofertas especiales y obten un 20% de descuento en tu reserva de
                    estacionamiento en la Zona Centro. ¡No pierdas esta oportunidad de ahorrar y asegura tu espacio
                    ahora!
                </p>
                <div class="offers">
                    <div class="offer">
                        <img alt="Imagen de estacionamiento en Zona Centro" height="200"
                            src="https://storage.googleapis.com/a1aa/image/aSCEJUECwMpiHl6OTel8Cjzav99vxUZX6tfX43exCmnd3yeOB.jpg"
                            width="300" />
                        <div class="content">
                            <h3>
                                Zona Centro
                            </h3>
                            <p>
                                Reserva tu lugar ahora
                            </p>
                            <button>
                                Reserva
                            </button>
                        </div>
                    </div>
                    <div class="offer">
                        <img alt="Imagen de estacionamiento en Estacion Fácil" height="200"
                            src="https://storage.googleapis.com/a1aa/image/qLbktdHrIxpmHBLFfQaMmIXje85wCI5nkFtbeobZCVpY3yeOB.jpg"
                            width="300" />
                        <div class="content">
                            <h3>
                                Estacion Fácil
                            </h3>
                            <p>
                                Reserva tu lugar ahora
                            </p>
                            <button>
                                Reserva
                            </button>
                        </div>
                    </div>
                    <div class="offer">
                        <img alt="Imagen de estacionamiento en Estacion Fácil" height="200"
                            src="https://storage.googleapis.com/a1aa/image/qLbktdHrIxpmHBLFfQaMmIXje85wCI5nkFtbeobZCVpY3yeOB.jpg"
                            width="300" />
                        <div class="content">
                            <h3>
                                Estacion Fácil
                            </h3>
                            <p>
                                Reserva tu lugar ahora
                            </p>
                            <button>
                                Reserva
                            </button>
                        </div>
                    </div>
                </div>
                <div class="spaces">
                    <div class="space">
                        <h4>
                            Espacios Disponibles
                        </h4>
                        <div class="details">
                            <i class="fas fa-parking">
                            </i>
                            <span>
                                Zona Centro
                            </span>
                            <span>
                                2 min
                            </span>
                        </div>
                    </div>
                    <div class="space">
                        <h4>
                            Espacios Disponibles
                        </h4>
                        <div class="details">
                            <i class="fas fa-parking">
                            </i>
                            <span>
                                Zona Centro
                            </span>
                            <span>
                                2 min
                            </span>
                        </div>
                    </div>
                    <div class="space">
                        <h4>
                            Espacios Disponibles
                        </h4>
                        <div class="details">
                            <i class="fas fa-parking">
                            </i>
                            <span>
                                Zona Centro
                            </span>
                            <span>
                                2 min
                            </span>
                        </div>
                    </div>
                </div>
                <h2>
                    Pagos Pendientes
                </h2>
                <div class="payments">
                    <div class="payment">
                        <div class="details">
                            <span>
                                Reserva #1234
                            </span>
                            <button>
                                Pagar
                            </button>
                        </div>
                        <div class="details">
                            <span>
                                Reserva #5678
                            </span>
                            <button>
                                Pagar
                            </button>
                        </div>
                    </div>
                    <div class="payment">
                        <div class="details">
                            <span>
                                Reserva #1234
                            </span>
                            <button>
                                Pagar
                            </button>
                        </div>
                        <div class="details">
                            <span>
                                Reserva #5678
                            </span>
                            <button>
                                Pagar
                            </button>
                        </div>
                    </div>
                    <div class="payment">
                        <div class="details">
                            <span>
                                Reserva #1234
                            </span>
                            <button>
                                Pagar
                            </button>
                        </div>
                        <div class="details">
                            <span>
                                Reserva #5678
                            </span>
                            <button>
                                Pagar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Pie de página -->
        <footer class="main-footer">
            <div class="footer-content">
                <!-- Enlace a términos y condiciones -->
                <div class="terms">
                    <a href="/terms">Términos y condiciones</a>
                </div>

                <!-- Información de contacto en el pie de página -->
                <div class="contact-info">
                    <p>Calle 26A #14-63 Piso 1, Yopal Casanare Colombia</p> <!-- Dirección física del parqueadero -->
                    <p>Horario de atención: Lunes a domingo - 6:00 am a 10:00 pm</p>
                    <!-- Horario de atención al cliente -->
                    <p>Dependencias Administrativas: (+57) 3114368376</p> <!-- Número de contacto -->
                    <p>Support@spy.gov.co</p> <!-- Correo de soporte -->
                    <p>Línea anticorrupción: 195<br>Canal de Integridad y Antisoborno</p>
                    <!-- Información de línea anticorrupción -->
                </div>

                <!-- Sección de redes sociales -->
                <div class="social-media">
                    <h2>Síguenos</h2> <!-- Título de la sección de redes sociales -->
                    <div class="social-icons"> <!-- Íconos de redes sociales con enlaces -->
                        <a href="#"><i class="fab fa-facebook"></i></a> <!-- Ícono de Facebook -->
                        <a href="#"><i class="fab fa-twitter"></i></a> <!-- Ícono de Twitter -->
                        <a href="#"><i class="fab fa-instagram"></i></a> <!-- Ícono de Instagram -->
                        <a href="#"><i class="fab fa-linkedin"></i></a> <!-- Ícono de LinkedIn -->
                    </div>
                    <p>@SystemParkingYopal</p> <!-- Nombre de usuario en redes sociales -->
                </div>
            </div>
        </footer>
        <script src="script.js"></script>
    </body>

    </html>

